#workarea {
  position:relative;
  width: 1440px;
  height: 720px;
  background-image: url("images/bg-pattern-top-desktop.svg") , url("images/bg-pattern-bottom-desktop.svg");
  background-position: -50px 0px , 350px 100px;
  background-repeat: no-repeat, no-repeat;
  background-color: white;

}

h1 {
  color: hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  font-style: bold;
  padding: 0;
  margin: 0;


}
h3 {
  color: hsl(303, 10%, 53%);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-style: medium;
  line-height: 1.6;

  margin-top:  10px;
}
#title {

  position: absolute;
  margin-top: 120px;
  margin-left: 150px;
  width: 430px;
}

.rate{
  background-color: hsl(300, 24%, 96%);
  width: 260px;
  text-align: left;
  color:hsl(300, 43%, 22%);
  padding-left: 180px;
  height: 15px;
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#rate1{
  position: absolute;
  top: 140px;
  right: 260px;
  margin: 0;
}

#rate2{
  position: absolute;
  top: 210px;
  right: 220px;
  margin: 0;
}

#rate3{
  position: absolute;
  top: 280px;
  right: 180px;
  margin: 0;
}

.card{
  padding: 30px;
  height: 170px;
  width: 290px;
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
}

.name {
  color: hsl(0, 0%, 100%);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  position: absolute;
  top: 40px;
  left: 95px;

}

.position {
  color: hsl(303, 10%, 53%);
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
  position: absolute;
  top: 60px;
  left: 95px;

}

.description {
  color: hsl(300, 24%, 96%);
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: medium;
  line-height: 1.6;
  position: absolute;
  bottom: 45px;
  padding-right: 30px;

}

.card img {
  border-radius: 100%;
  width:40px;
  position: absolute;
  top: 35px;

}

#card1 {
  position: absolute;
  bottom: 80px;
  left: 150px;
}
#card2 {
  position: absolute;
  bottom:65px;
  left: 545px;
}
#card3 {
  position: absolute;
  bottom:50px;
  left: 930px;
}
